<%- include ('partials/header') %>
<%- include ('partials/navbar') %>
<body>
  <p><%= description %></p>
  <hr>
  <small class="text-end"><%= subscribers %> subscribers</small>
  <div>
    <section>
      <h2>Posts</h2>
      <% for (let post of posts) { %>
        <div>
          <h4><%= post.title %></h4>
          <% if(post.img) { %>
            <img alt="" src="<%= post.img %>">
          <% } %>
          <small>
            -<strong><%= post.author %></strong>
          </small>
          <hr>
        </div>
      <% } %>
    </section>
<%- include ('partials/footer') %>
